html {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

nav {
	font-size: large;
	background-color: #1B1B1B;
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
}

.nav > li > a {
	
}


h1 {
	font-size: 45px;
}
