html {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}

body {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}

/* debug */
.div, span, li {
	border: 0px solid black;
}

/* Navigation */
nav {
	left: 0;
	right: 0;
	top: 0;
	font-size: large;
	display: block;
	height: 40px;
	background-color: #1B1B1B;
}

.nav-list > li {
    float: left;
}

.nav-list > li > a {
	color: #999999;
	padding: 10px 15px;
	display: block;
}

.language-links {
	float: right;
}

.language-link {
	color: #999999;
	padding: 10px 15px 10px 0;
	float: left;
	display: block;
}

.nav-list > li > a:hover, .language-link:hover {
	color: #CCCCCC;
}

.nav-list > li > a.active, .language-link.active {
	color: #CCCCCC;
}

.user-hint {
	font-size: x-small;
	color: #999999;
	padding: 15px 15px 10px 0;
	display: block;
}

/* Header */
h1 {
	font-size: 36px;
}
h4 {
	margin-bottom: 10px;
}

header {
	padding: 40px 20px 30px;
}

.content {
	padding: 0 20px;
}

/* Sortiment */
.platte {
	border-bottom: 1px solid #CCCCCC;
	padding: 5px 0 2px;
	clear: both;
}

.album_cover {
	max-width: 64px;
	width: auto;
	height: auto;
	margin-right: 10px;
	float: left;
}

.album_info {
	vertical-align: top;
	display: inline-block;
}

.album_details {
	margin-right: 10px;
}

/* Details */
.detail_cover {
	max-width: 150px;
	width: auto;
	height: auto;
	margin-right: 10px;
}

.link {
	color: black;
}
a.link:hover {
	color: #999999;
}

#ausgabe {
	position: absolute;
	background-color: white;
	padding: 5px;
}

.rechts {
	float: right;
}

.blank {
	border: 0px solid black;
}

