html {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}

body {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}

/* Navigation */
nav {
	left: 0;
	right: 0;
	top: 0;
	font-size: large;
	display: block;
	height: 40px;
	background-color: #1B1B1B;
}

.logo {
	max-height: 28px;
	width: auto;
	height: auto;
	padding: 6px 20px;
}

.logo-title {
	max-height: 28px;
}

.nav-list > li {
    float: left;
}

.menu {
	color: #999999;
	padding: 10px 15px;
	display: block;
}

.language-links {
	float: right;
}

.language-link {
	color: #999999;
	padding: 10px 15px 10px 0;
	float: left;
	display: block;
}

.nav-list > li > a:hover, .language-link:hover {
	color: #CCCCCC;
}

.nav-list > li > a.active, .language-link.active {
	color: #CCCCCC;
}

.user-hint {
	font-size: x-small;
	color: #999999;
	padding: 15px 15px 10px 0;
	display: block;
}

/* Header */
h1 {
	font-size: 36px;
}
h4 {
	margin-bottom: 10px;
}

.meldung {
	margin-top: 10px;
	margin-left: 20px;
}

header {
	padding: 40px 20px 30px;
}

/* content */
.content {
	padding: 0 20px;
}

/* Start */
.text {
	margin: 15px 0;
	max-width: 50%;
}

.text a {
	text-decoration: underline;
}

/* Sortiment */
.platte {
	border-bottom: 1px solid #CCCCCC;
	padding: 5px 0 5px;
	clear: both;
}

.album_cover {
	max-width: 64px;
	width: auto;
	height: auto;
	margin-right: 10px;
	float: left;
}

.album_details {
	margin-right: 10px;
}

.album_info {
	vertical-align: top;
	display: inline-block;
}

.album_info p {
	height: 20px;
}

.link {
	color: black;
}

a.link:hover {
	color: #999999;
}

/* Details */
.detail_cover {
	max-width: 170px;
	width: auto;
	height: auto;
	margin-right: 10px;
}

.detail_left {
	min-width: 155px;
	display: inline-block;
}

.buy {
	font-size: large;
}

/* Warenkorb */
.count_input {
	width: 12px;
	height: 10px;
}

.check_input {
	margin-left: 2px;
}

.total_container {
	margin: 7px 74px;
}

.login_container {
	margin: 7px 0;
}

/* Suche */
.seartch_form {
	margin-bottom: 20px;
}

#ausgabe {
	display: none;
	position: absolute;
	background-color: white;
	opacity: 0.96;
	padding: 0px 10px 10px;
	margin: 5px 0 0 77px;
}

.ergebnis {
	margin-bottom: 4px;
}